/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |CTL/TB|  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | CTL/'|
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | GUI | LWR | ENT |   | SPC | RSE  | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T      &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &mt LCTRL TAB &kp A &kp S &kp D &kp F &kp G  &kp H &kp J  &kp K     &kp L   &kp SEMI &mt RCTRL SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B      &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHIFT 
                  &kp LGUI &mo 1 &kp RET        &kp SPACE &mo 2 &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// |      | F1  | F2  | F3  | F4  | F5  |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT | F6  | F7  | F8  | F9  | F10 |   |     |     |     |     |     |      |
//                    | GUI | LWR | ENT |   | SPC | RSE | ALT |
                        bindings = <
   &kp ESC    &kp N1       &kp N2       &kp N3       &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BSPC
   &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5         &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &kp F6 &kp F7 &kp F8 &kp F9 &kp F10    &trans &trans &trans &trans &trans &trans
                            &kp LGUI &trans &kp RET  &kp SPACE &mo 3 &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// |      |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  |  ~   |
//                    | GUI | ADJ | ENT |   | SPC | ADJ | ALT |
                        bindings = <
   &kp  ESC  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &trans &trans &trans &trans &trans &trans               &kp MINUS &kp EQUAL &kp LBRC &kp RBRC  &kp PIPE &kp GRAVE
   &kp LSHIFT &trans &trans &trans &trans &trans           &kp UNDER &kp PLUS  &kp LBKT &kp RBKT &kp BSLH &kp TILDE
                    	           &kp LGUI &mo 3 &kp RET  &kp SPACE  &trans  &kp RALT
                        >;
                };
                adjust_layer {
// -----------------------------------------------------------------------------------------
// | MUTE |VOLDN|VOLUP| PREV| NEXT| PLAY|   | BT1 | BT2 | BT3 | BT4 | BT5 | BTCLR|
// | CAPS |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     | BRID| BRIU|   |     |     |     |     |     |      |
//                    | GUI |     | ENT |   | SPC |     | ALT |
                        bindings = <
   &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV  &kp C_NEXT &kp C_PP   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR 
   &trans &trans &trans &trans &trans &trans                                 &trans &trans &trans &trans &trans &trans 
   &kp CAPS &trans  &trans &trans   &kp C_BRI_DN  &kp C_BRI_UP               &trans &trans &trans &trans &trans &trans
                                        &trans &trans &trans                 &trans &trans &trans 
                        >;
                };
        };
};
